<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Herencia</title>
    <link rel="stylesheet" type="text/css" href="miestilacho.css">
    
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="planet-outline"></ion-icon></span>
                        <span class="tittle">LA HERENCIA</span>
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <span class="icon"><ion-icon name="fast-food-outline"></ion-icon></span>
                        <span class="tittle">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="/categorias">
                        <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                        <span class="tittle">Categorias</span>
                    </a>
                </li>
                <li>
                    <a href="/clientes">
                        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                        <span class="tittle">Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos">
                        <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                        <span class="tittle">Pedidos</span>
                    </a>
                </li>

                <li>
                    <a href="/cupones">
                        <span class="icon"><ion-icon name="ticket-outline"></ion-icon></span>
                        <span class="tittle">Cupones</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="tittle">Cerrar Sesion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--Main-->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <!--search-->
            <div class="search">
                <label>
                    <input type="text" placeholder="Buscameeeeeee">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
            <!--Imagen usuario-->
            <div class="user">
                <img src="https://www.bing.com/images/search?view=detailV2&ccid=nIWa1wC7&id=1E298F75FF97766344E66019EC2C98BFAE1EFFBD&thid=OIP.nIWa1wC7imvehsU52-fccgHaE7&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.9c859ad700bb8a6bde86c539dbe7dc72%3frik%3dvf8err%252bYLOwZYA%26riu%3dhttp%253a%252f%252fupload.wikimedia.org%252fwikipedia%252fcommons%252f7%252f70%252fCapybara_2.jpg%26ehk%3dNtQG2BnKSMeOh9OVS2wzr1ARAHKW%252f1EVxc7nJX0RuHw%253d%26risl%3d1%26pid%3dImgRaw%26r%3d0&exph=2588&expw=3888&q=capibara&simid=608009606972451595&FORM=IRPRST&ck=415869966A68F4F4E609888534B6A6EA&selectedIndex=0">
            </div>
        </div>
    </div>




    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
        //Menu toggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }


        //Hovered class in selected list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) => item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) => item.addEventListener('mouseover',activeLink));
    </script>
</body>
</html>