<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://churrasqueriaherencia.onrender.com/crear" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre del producto</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" placeholder="Descripción">
        <label for="precio">Precio</label>
        <input type="text" name="precio" id="precio" placeholder="Precio">
        <label for="imagencita">Imagen</label>
        <input type="file" name="imagencita" id="imagencita">
        <input type="submit">
    </form>
    

</body>
</html>