<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/productos/main.css" />
  </head>
<body>

      <% for (const product of data) { %>
      <center>
       <div class="ft-recipe" >
        <div class="ft-recipe__thumb">
          
          <h3>Comiditas</h3>
          <img src="<%= product.imagen %>" alt="Strawberry Waffle">
        </div>
        <div class="ft-recipe__content">
          <header class="content__header">
            <div class="row-wrapper">
              <h2 class="recipe-title"><%= product.nombre %></h2>
              <div class="user-rating"></div>
            </div>
            <ul class="recipe-details">
              <li class="recipe-details-item time">
                <i class="ion ion-ios-clock-outline"></i>
                <span class="value"><%= product.precio %> BS</span>
                
              </li>
            </ul>
          </header>
          
          <footer class="content__footer">
            <p class="description">
              <%= product.descripcion %>
            </p>
            <a href="#">View Recipe</a>
          </footer>
        </div>
      </div>

    </center>
       <% } %>
       
</body>

  
</html>


