<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA </h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <% for (const product of data) { %> <!-- Cambia el nombre de la variable aquí -->
          <tr>
            <td><%= product.nombre %></td> <!-- Utiliza el nuevo nombre aquí -->
            <td><%= product.descripcion %></td>
            <td><%= product.precio %></td> <!-- Utiliza el nuevo nombre aquí -->
            
          </tr>
        <% } %>
      </tbody>
      
    </table>
    
</body>
</html>